<!--
  Generated template for the OfferNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>offer-new</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>At</ion-label>
    <ion-select [(ngModel)]="location" [disabled]="isLocationDisabled" (ionChange)="locationChanged()" interface="popover">
      <ion-option value="mine">My Home</ion-option>
      <ion-option value="yours">Your Home</ion-option>
      <ion-option value="indoor">Indoor Playgrounds</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="this.location == 'indoor'">
    <ion-label>Play Grounds</ion-label>
    <ion-select [(ngModel)]="selected_playground" [disabled]="isLocationDisabled" (ionChange)="playgroundChanged()" interface="popover">
      <ion-option *ngFor="let pg of available_playgrounds" [value]="pg">
        {{pg.name}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="this.location != 'yours'">
    <ion-label floating>Address</ion-label>
    <ion-input type="text" [(ngModel)]="address" readonly=true></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>I'm offering</ion-label>
    <ion-toggle [(ngModel)]="offering" [disabled]="isOfferDisabled" (ionChange)="offerChanged()"></ion-toggle>
  </ion-item>


  <!--
  <ion-item *ngFor="let pg of playgrounds">
    <button ion-button full (click)="openChat(pg.name)"> {{room.other_user_name}}</button>
  </ion-item>
-->

</ion-content>